/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import "bootstrap-sprockets";
@import "bootstrap";
body {
	background-color: white;

}
a {
	color: white;
}
a:hover {
	color: black;
	text-decoration: none;
}
.navbar-default .navbar-brand {
    color: white;
		font-size: 26px;
		text-shadow: 2px 2px 3px black;
}
.navbar-default .navbar-nav > li > a {
    color: white;
		text-shadow: 2px 2px 3px black;
}

.one {
	overflow: auto;
}
.two {
	float: right;
}
.author {
	font-size: 14px;
}
#logo {
	font-family: 'Rock Salt';
	font-size: 36px;
	text-transform: lowercase;
	padding: 15px 0;
	a:hover {
		color: black;
		text-decoration: none;
	}
	a {
		color: white;

	}

	small {
		a:hover{
			color: none;
		}
	}
}
.navbar {
	border-top: 0px;
	border-left: 0px;
}
.navbar-inner{
	font-family: 'Rock Salt';
	color: white;

	small {
		font-size: 16px;
	}
	 box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	width: 100%;
	position: fixed;
	background-color: rgba(42, 169, 237, 0.7);
	color: white;
	z-index: 1;
}
#main_content {
	font-family: 'Oswald';
	.container {
		margin-top: 0;
	}
	a {
		color: black;
	}
	a:hover {
		text-decoration: none;
		color: rgba(42, 169, 237, 1);
	}
	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		margin-left: 40px;
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;

			}
			a:hover {
				text-decoration: none;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}
